! special
*.foreground:   #fdd6b5
*.background:   #1f1f1f
*.cursorColor:  #ffb677

! black
*.color0:       #52524e
*.color8:       #52524e

! red
*.color1:       #fa877f
*.color9:       #fa877f

! green
*.color2:       #b6e6bd
*.color10:      #b6e6bd

! yellow
*.color3:       #ffb677
*.color11:      #ffb677

! blue
*.color4:       #f1c6e7
*.color12:      #f1c6e7

! magenta
*.color5:       #745c97
*.color13:      #745c97

! cyan
*.color6:       #9fdfcd
*.color14:      #9fdfcd

! white
*.color7:       #f4efd3
*.color15:      #f4efd3

Xft.dpi: 130
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

URxvt.saveLines:        10000
URxvt.xftAntialias:     true
URxvt.font:             xft:inconsolata:size=12:antialias=true:hinting=true
URxvt.boldFont:         xft:inconsolata:size=12:antialias=true:hinting=true
URxvt.italicFont:       xft:inconsolata:size=12:antialias=true:hinting=true
URxvt.bolditalicFont:   xft:inconsolata:size=12:antialias=true:hinting=true
urxvt*scrollBar: false
URxvt.internalBorder:40
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: google-chrome-stable
URxvt.matcher.button: 1
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
URxvt.letterSpace: -2
! vim: ft=xdefaults
urxvt*depth: 32
urxvt*background: rgba:0031/0031/0031/aaaa
! vim: ft=xdefaults
